body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#button-container {
    margin-bottom: 20px;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-card, .navet-card {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 10px solid grey;
    border-radius: 10px;
    background: #f9f9f9;
}

.movie-card img, .navet-card img {
    width: 100%;
    border-radius: 10px;
}

.high-rating {
    border: 10px solid gold;
    background: #fff7d1;
}


.movie-card.classic:hover {
    background-color: yellow;  /* Change la couleur de fond en jaune */
    border-color: #FFD700;  /* Change la bordure en doré */
    transform: scale(1.05);  /* Ajouter un effet d'agrandissement */
}

.movie-card.normal:hover {
    background-color: blue;  /* Change la couleur de fond en jaune */
    border-color: #1c69f8;  /* Change la bordure en doré */
    transform: scale(1.05);  /* Ajouter un effet d'agrandissement */
}

.movie-card.bad:hover {
    background-color: red;  /* Change la couleur de fond en jaune */
    border-color: #f8231c;  /* Change la bordure en doré */
    transform: scale(1.05);  /* Ajouter un effet d'agrandissement */
}

